<%= form_for @question, to: add_question_path do |f| %>
  <p><%= f.label :content, 'Set question:' %> <%= f.text_field :content %></p>
  <div class="answers">
    <%= fields_for :answer do |ans| %>
      <p><%= ans.label :answer_text,'Write the answer:' %> <%= ans.text_field :answer_text %></p>
    <% end %>
  </div>
  <p><%= f.submit "Save question" %></p>
<% end %>
