<div class="container-fluid">
  <div class="row mx-3">
    <div class="col-lg-2">
      <%= render partial: "user_dashboard/menu", locals: { active: :profile } %>
    </div>
    <div class="col-lg-10">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          Edit profile
          <div class="container-fluid">
            <%= simple_form_for(@profile, url: profile_path, method: :patch) do |f| %>
              <div class="row">
                <div class="col">
                  <div class="form-inputs">
                     <% if @profile.image? %>
                      <%= image_tag @profile.image.content.url %> 
                      <div>
                        <%= label_tag :remove_image do %>
                          Remove image
                          <%= f.check_box :remove_image %>
                        <% end %>
                      </div>
                    <% end %>
                    <%= f.input :image, label: 'Select image', as: :file %>

                    <%= f.input :name, label: "Name", required: true, input_html: { autocomplete: "name" } %>
                    <%= f.input :surname, label: "Surname", required: true, input_html: { autocomplete: "surname" } %>
                    <%= f.input :nickname, label: "Nickname", required: true, input_html: { autocomplete: "nickname" } %>
                    <%= f.input :address, label: "Address", required: false, input_html: { autocomplete: "address" } %>
                    <%= f.input :birthday, label: "Date of birth", required: false, input_html: { autocomplete: "birthday" } %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-actions">
                    <%= f.button :submit, "Update profile" %>
                    <%= link_to "Back", :back, class: 'btn btn-md btn-primary' %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
