<div class="container-fluid">
  <div class="row mx-3">
    <div class="col-lg-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
        <a class="nav-link tab-scroll" id="v-pills-dashboard-tab" href="<%= user_dashboard_path %>">Dashboard</a>
        <a class="nav-link active tab-scroll" id="v-pills-profile-tab" href="<%= profile_path %>">My Profile</a>
        <a class="nav-link tab-scroll" id="v-pills-courses-tab" href="<%= participations_path %>">My Courses</a>
        <a class="nav-link tab-scroll" id="v-pills-certificates-tab" href="<%= certificates_path %>">My Certificates</a>
        <a class="nav-link tab-scroll" id="v-pills-messages-tab" href="#">Private Messages</a>
      </div>
    </div>
    <div class="col-lg-10">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          Edit profile
          <div class="container-fluid">
            <%= simple_form_for(@profile, url: profile_path, method: :patch) do |f| %>
              <div class="row">
                <div class="col">
                  <div class="form-inputs">
                    <%= f.input :name, label: "Name", required: true, input_html: { autocomplete: "name" } %>
                    <%= f.input :surname, label: "Surname", required: true, input_html: { autocomplete: "surname" } %>
                    <%= f.input :nickname, label: "Nickname", required: true, input_html: { autocomplete: "nickname" } %>
                    <%= f.input :address, label: "Address", required: false, input_html: { autocomplete: "address" } %>
                    <%= f.input :birthday, label: "Date of birth", required: false, input_html: { autocomplete: "birthday" } %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-actions">
                    <%= f.button :submit, "Update profile" %>
                    <%= link_to "Back", :back, class: 'btn btn-md btn-primary' %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= content_for :dashboard_panel_resizer do %>
  <script>
      function dashboardNavigatorPanel() {
          let windowWidth = document.body.clientWidth;
          let pills_tab = $('#v-pills-tab');
          if (windowWidth < 992) {
              pills_tab.removeClass('flex-column');
              pills_tab.addClass('flex-row');
          } else if (windowWidth >= 922) {
              pills_tab.removeClass('flex-row');
              pills_tab.addClass('flex-column');
          }
      }
      $(window).resize(function() {
          dashboardNavigatorPanel();
      });
      $(document).on('turbolinks:load', dashboardNavigatorPanel);
  </script>
<% end %>