<%- all_answered = @page.all_questions_answered_by?(current_user) %>
<% unless questions.empty? %>
  <%= form_tag store_answers_course_path(@course, @page), method: :post, remote: true do %>
    <div class="form-group">
      <% questions.includes(:answer_list).each do |question| %>
        <%- answers = question.answer_list %>
        <%- user_answers = question.user_answers.find_by(user: current_user) %>
        <%= render inline: render_question(question, answers, user_answers) %>
    <% end %>
    </div>
    <div class="questions"></div>
    <div class="form-actions">
      <%= submit_tag('Save answers', class: 'btn btn-md btn-success', id: 'submit-answers-button') unless all_answered %>
    </div>
  <% end %>
<% end %>
<div class="navigation-buttons">
  <%= link_to 'To course', course_path(@course), class: 'btn btn-md btn-secondary' %>
  <% if @page.previous_page %>
    <%= link_to 'Previous page', page_course_path(@course, @page.previous_page), class: 'btn btn-md btn-primary float-left' %>
  <% end %>
  <% if all_answered %>
    <% if @page.next_page %>
      <%= link_to 'Next page', page_course_path(@course, @page.next_page), class: 'btn btn-md btn-primary float-right' %>
    <% else %>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="rating-btn">
        Rate course
      </button>
      <div id="rating-window">
        <%= render partial: 'courses/rating', locals: { course: @course } %>
      </div>
      <%= link_to 'Finish course', finish_course_path(@course), method: :post, class: 'btn btn-md btn-success float-right' %>
    <% end %>
  <% end %>
</div>
