<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Edit page: </h1>
      <%= simple_form_for(@page, url: page_course_path(@course, @page), method: :patch) do |form| %>
        <div class="form-inputs">
          <%= form.input :name, required: false %>
          <%= form.input :html, as: :ckeditor, label: false, input_html: { ckeditor: { toolbar: 'Full' } }  %>
        </div>
        <div class="test-display">
          <%= render partial: 'pages/edit_test', locals: { questions: @questions, answers: @answers } %>
        </div>
        <div class="form-actions">
          <%= form.button :submit, 'Save changes', class: 'btn btn-md btn-primary' %>
          <%= link_to 'Back', pages_course_path(@course), class: 'btn btn-md btn-secondary' %>
        </div>
      <% end %>
      <%= render partial: 'add_question' %>
    </div>
  </div>
</div>
