<h1>Create a page: </h1>
<%= simple_form_for @page, url: course_page_new_path, method: :post, validate: true do |f| %>
  <%= f.error_notification %>

  <%= f.input :html, label: 'HTML:' %>

  <div class="form-actions">
    <%= f.button :submit, 'Create new page', class: 'btn btn-md btn-success' %>
    <%= link_to 'Back', course_pages_path, class: 'btn btn-info btn-md' %>
  </div>
<% end %>

