<% @courses.each do |course| %>
  <div class="card" id="course-card">
    <div class="card-body row">
      <%= image_tag course.image.content.url, class: 'card-img-top col-4', id: 'course-card-img' %>
      <div class="col-1"></div>
      <div class="content col">
        <div class="row">
          <div class="col-7"></div>
          <p class="card-text col-5">
            <small class="text-muted">Created at
              <%= course.created_at.strftime("%b %d, %Y") %></small>
          </p>
        </div>
        
        <h3 class="card-title row"><%= course.name %></h3>
        <p class="card-text row"><%= course.description %></p>
          
        <div class="row" id="card-bottom-icons">
          <div class="col">
            <i class="fas fa-star"></i>
            <p><%= course.rating ? course.rating : '0' %></p>
          </div>
          <div class="col">
            <i class="fas fa-user"></i>
            <p><%= course.completion_records.count %></p>
          </div>
          <div class="col">
            <%= link_to 'More', course_path(course), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
