<div class="h2">
  <i class="fas fa-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
  <div class="dropdown-menu">
    <%= link_to 'Name', courses_path({keyword: 'name'}), class: 'dropdown-item' %>
    <%= link_to 'Course graduates', courses_path({keyword: 'count'}), class: 'dropdown-item' %>
    <%= link_to 'Rating', courses_path({keyword: 'rate'}), class: 'dropdown-item' %>
    <%= link_to 'Newest', courses_path({keyword: 'new'}), class: 'dropdown-item' %>
    <%= link_to 'Oldest', courses_path({keyword: 'old'}), class: 'dropdown-item' %>
  </div>
</div>
