<h1>Create a course: </h1>
<%= simple_form_for @course, url: courses_path, method: :post, validate: true do |f| %>
  <%= f.error_notification %>

  <%= f.input :image, label: 'Select image: ', as: :file %>
  <%= f.input :name, label: 'Course name', required: true, input_html: { autocomplete: 'name' } %>
  <%= f.input :description, label: 'Describe your course', required: true, input_html: { autocomplete: 'description'} %>
  <%= f.input :duration, label: 'Course duration', required: true, input_html: { min: '0' } %>
  <%= f.input :difficulty, label: 'Difficulty', collection: Course.difficulties.keys, include_blank: false %>
  <%= f.input :visibility, label: 'Visibile for: ', collection: Course.visibilities.except('organizatio1n').keys, 
                include_blank: false, input_html: { id: 'course_visibility' } %>
  <div class='course_allowed_users_selector_div d-none'>
    <%= f.input :allowed_users, label:'Select allowed users', collection: @users, disabled: true,
              input_html: { class: 'js-example-basic-multiple', multiple: 'multiple', id: 'course_allowed_users_selector' } %>
  </div>
  <% unless @organizations.empty? %>
    <label>Set creator to organization</label>
    <%= check_box_tag 'course[is_org_creator]', value: true, checked: false, id: 'course_is_org_creator' %>
    <div class='course_owner_div d-none'>
      <label>Select organization</label>
      <%= f.input :owner, label: false, collection: @organizations, include_blank: false, disabled: true %>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, 'Create new course', class: 'btn btn-md btn-success' %>
    <%= link_to 'Back', courses_path, class: 'btn btn-info btn-md' %>
  </div>
<% end %>

