<h1>Course "<%= @course.name %>"</h1>

<p>Duration: <%= @course.duration %></p>

<p>Difficulty: <%= @course.difficulty %></p>
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_course_path(@course), class: 'btn btn-md btn-warning' if policy(@course).edit? %>
<% end %>
<%= link_to 'Back', courses_path, class: 'btn btn-info btn-md' %>