<div class="container-fluid">
  <div class="row mx-3">
    <div class="col-lg-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
        <a class="nav-link active tab-scroll" id="v-pills-dashboard-tab" href="<%= user_dashboard_path %>">Dashboard</a>
        <a class="nav-link tab-scroll" id="v-pills-profile-tab" href="<%= profile_path %>">My Profile</a>
        <a class="nav-link tab-scroll" id="v-pills-courses-tab" href="<%= participations_path %>">My Courses</a>
        <a class="nav-link tab-scroll" id="v-pills-certificates-tab" href="<%= certificates_path %>">My Certificates</a>
        <a class="nav-link tab-scroll" id="v-pills-messages-tab" href="#">Private Messages</a>
      </div>
    </div>
    <div class="col-lg-10">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-dashboard" role="tabpanel" aria-labelledby="v-pills-dashboard-tab">
          Dashboard
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12">
                Current courses:
                <div class="panel-stub"></div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                Organizations courses:
                <div class="panel-stub"></div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                User-created courses:
                <div class="panel-stub"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12">
                Favourite courses:
                <div class="panel-stub"></div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                Last completed courses:
                <div class="panel-stub"></div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                Recommended courses:
                <div class="panel-stub"></div>
              </div>
            </div>
          </div>
        </div>
<!--        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">Profile</div>-->
<!--        <div class="tab-pane fade" id="v-pills-courses" role="tabpanel" aria-labelledby="v-pills-courses-tab">Courses</div>-->
<!--        <div class="tab-pane fade" id="v-pills-certificates" role="tabpanel" aria-labelledby="v-pills-certificates-tab">Certificates</div>-->
<!--        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">Messages</div>-->
      </div>
    </div>
  </div>
</div>
<%= content_for :dashboard_panel_resizer do %>
  <script>
      function dashboardNavigatorPanel() {
          let windowWidth = document.body.clientWidth;
          let pills_tab = $('#v-pills-tab');
          if (windowWidth < 992) {
              pills_tab.removeClass('flex-column');
              pills_tab.addClass('flex-row');
          } else if (windowWidth >= 922) {
              pills_tab.removeClass('flex-row');
              pills_tab.addClass('flex-column');
          }
      }
      $(window).resize(function() {
          dashboardNavigatorPanel();
      });
      $(document).on('turbolinks:load', dashboardNavigatorPanel);
  </script>
<% end %>