<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-2">
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by
      </button>
      <div class="dropdown-menu" id="organization-sort-menu">
        <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="#">Name</a>
          <ul class="dropdown-menu">
              <%= render '/organizations/choice-link-up', path: organizations_sortable_path({keyword: 'wordsA'}) %>
              <%= render '/organizations/choice-link-down', path: organizations_sortable_path({keyword: 'wordsZ'}) %>
          </ul>
        </li>
        <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="#">Count of members</a>
          <ul class="dropdown-menu">
              <%= render '/organizations/choice-link-up', path: organizations_sortable_path({keyword: 'membersUp'}) %>
              <%= render '/organizations/choice-link-down', path: organizations_sortable_path({keyword: 'membersDown'}) %>
          </ul>
        </li>
        <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="#">Count of courses</a>
          <ul class="dropdown-menu">
              <%= render '/organizations/choice-link-up', path: organizations_sortable_path({keyword: 'courseUp'}) %>
              <%= render '/organizations/choice-link-down', path: organizations_sortable_path({keyword: 'courseDown'}) %>
          </ul>
        </li>
        <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="#">Created</a>
          <ul class="dropdown-menu">
            <%= render '/organizations/choice-link-up', path: organizations_sortable_path({keyword: 'new'}) %>
            <%= render '/organizations/choice-link-down', path: organizations_sortable_path({keyword: 'old'}) %>
          </ul>
        </li>
      </div>
    </div>
  </div>
</div>

<script>
$('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
  var $subMenu;
  if (!$(this).next().hasClass('show')) {
    $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
  }
  $subMenu = $(this).next('.dropdown-menu');
  $subMenu.toggleClass('show');
  $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
    $('.dropdown-submenu .show').removeClass('show');
  });
  return false;
});
</script>
