<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-2">
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by
      </button>
      <div class="dropdown-menu">
        <%= link_to 'Words A-Z' , organizations_sortable_path({keyword: 'wordsA'}), class: 'dropdown-item', remote: true %>
        <%= link_to 'Words Z-A' , organizations_sortable_path({keyword: 'wordsZ'}), class: 'dropdown-item', remote: true %>
        <%= link_to 'Courses' , organizations_sortable_path({keyword: 'course'}), class: 'dropdown-item', remote: true %>
        <%= link_to 'Members' , organizations_sortable_path({keyword: 'members'}), class: 'dropdown-item', remote: true %>
        <%= link_to 'Newest' , organizations_sortable_path({keyword: 'new'}), class: 'dropdown-item', remote: true %>
        <%= link_to 'Oldest' , organizations_sortable_path({keyword: 'old'}), class: 'dropdown-item', remote: true %>
      </div>
    </div>
  </div>
</div>
