<h1>Edit an organization: </h1>
<%= simple_form_for @organization, url: organization_path(@organization), method: :patch, validate: true do |f| %>
  <%= f.error_notification %>

  <%= f.input :name, label: 'Organization name', required: true, input_html: { autocomplete: 'name' } %>
  <%= f.input :description, label: 'Describe your organization', required: true, input_html: { autocomplete: 'description'} %>

  <div class="form-actions">
    <%= f.button :submit, 'Confirm changes', class: 'btn btn-md btn-success' %>
    <%= link_to 'Destroy organization', organization_path(@organization), method: :delete, class: 'btn btn-md btn-danger', data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Back', organization_path(@organization), class: 'btn btn-info btn-md' %>
  </div>
<% end %>