<div class="container">
  <div class="text-center">
    <h1>Organization</h1>
  </div>
  <ul class="list-group list-group-flush my-5">
    <% @organizations.each do |org| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <%= image_tag('ela.png', widht: '50', height: '90') %>
          </div>
          <div class="col-md-6">
            <div class="text-center">
              <h2><%= org.name %></h2>
              <small class="text-muted"><%= org.description %></small>
            </div>
          </div>
          <div class="col-md-3">
            <div class="container">
              <i class="fas fa-child"></i>
              <%= org.memberships.count %>
            </div>
            <div class="container">
              <i class="fas fa-book"></i>
              <%= org.created_courses.count %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="row my-5">
    <div class="col-md-5"></div>
    <div class="col-md-6">
      <%= will_paginate @organizations, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  </div>
</div>
