<h1>Organization "<%= @organization.name %>"</h1>
<%= image_tag @organization.image.content.url %>
<p>Description: </p>
<p><%= @organization.description %></p>
<% if current_user %>
  <% if current_user.in?(@organization.users) %>
    <%= link_to 'Leave organization', leave_organization_path(@organization),
                method: :delete,
                remote: true,
                id: 'leave-organization-button',
                class: 'btn btn-md btn-danger' %>
  <% else %>
    <%= render partial: 'organizations/join_button', locals: { organization: @organization, join_request: @join_request } %>
    <%= link_to 'Edit', edit_organization_path(@organization), class: 'btn btn-md btn-warning' if policy(@organization).edit? %>
  <% end %>
  <% if OrganizationDashboardPolicy.new(current_user, @organization).index? %>
    <%= link_to 'To dashboard', home_dashboard_organization_path(@organization), class: 'btn btm-md btn-primary' %>
  <% end %>
<% else %>
  <p>Log into your account to join this organization.</p>
<% end %>
<%= link_to 'Back', organizations_path, class: 'btn btn-info btn-md' %>