<!DOCTYPE html>
<html>
  <head>
    <title>Elearning</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :dashboard_panel_resizer %>
  </head>

  <body>
    <%= render 'application/header' %>
    <div id="notification-area" class="m-2">
      <%= render 'layouts/flash' %>
    </div>

    <%= yield %>

    <%= render 'application/footer' %>
  </body>
</html>
