<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
  <a class="nav-link tab-scroll" id="v-pills-org-dashboard-tab" href="<%= home_dashboard_organization_path(organization) %>">Courses</a>
  <a class="nav-link tab-scroll" id="v-pills-org-users-tab" href="<%= memberships_organization_path(organization) %>">Users</a>
  <a class="nav-link tab-scroll" id="v-pills-org-invites-tab" href="<%= invites_organization_path(organization) %>">Invites</a>
  <a class="nav-link tab-scroll" id="v-pills-org-requests-tab" href="<%= requests_organization_path(organization) %>">Join requests</a>
  <a class="nav-link tab-scroll" id="v-pills-org-reports-tab" href="<%= reports_organization_path(organization) %>">Reports</a>
</div>
<script>
  window.set_active_class('<%= id_for_selected_menu_organization(active) %>');
</script>